@charset "UTF-8";
@font-face {
  font-family: "Lato Light";
  src: url("../../public/fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../../public/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
body {
  margin: 0;
  font-size: 1rem;
}

h2, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

body, h3, h5 {
  font-family: "Lato Light", sans-serif;
}

a, a:hover span {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover span {
  text-decoration: none;
}

span:hover {
  text-decoration: none;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.3rem;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.carousel {
  margin: 0;
  padding: 0;
}

.home-section__gallery { /* à fix */
  position: relative;
  padding-top: 75%;
  perspective: 100px;
}

.gallery__carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: itrem;
}
.carousel__slide:nth-child(even) {
  background-color: #99f;
}
.carousel__slide::before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #F5F5F7;
  font-size: 2rem;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.home-section__gallery:hover .carousel__snapper, .home-section__gallery:focus-within .carousel__snapper {
  animation-name: none;
}

.gallery__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list, .carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.home-section__gallery::before,
.home-section__gallery::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.home-section__gallery::before, .carousel__prev {
  left: 1rem;
}

.home-section__gallery::after, .carousel__next {
  right: 1rem;
}

.home-section__gallery::before,
.home-section__gallery::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #F5F5F7;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.home-section__gallery::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.home-section__gallery::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav__header {
  /* centered content */
  margin: auto;
  max-width: 950px;
  height: 44px;
  max-height: 44px;
}

nav > .nav-centered {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  max-height: 44px;
  opacity: 0.8;
  color: #f5f5f7;
  word-spacing: 0.1rem;
  cursor: pointer;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-delay: 0s;
  transition-property: opacity;
}
.nav-item__logo img {
  margin-top: 1px;
}
.nav-item:hover {
  opacity: 1;
}

@media (max-width: 832px) {
  nav > .nav-centered {
    display: none;
  }
}
footer {
  background-color: #f5f5f7;
  font-size: 0.9em;
}
footer .container {
  margin: auto;
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: "footer__one footer__one footer__one" "footer__two footer__two footer__two" "footer__tree footer__tree footer__tree";
}
footer .footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.2em;
}
footer .footer__one {
  grid-area: footer__one;
  color: #6e6e73;
  font-size: 0.8em;
  line-height: 1.2em;
}
footer .footer__two {
  grid-area: footer__two;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px 50px;
  grid-template-areas: "directory-one directory-two directory-tree directory-four directory-five" "directory-one directory-two directory-tree directory-four directory-five" "directory-one directory-two directory-tree directory-four directory-five";
}
footer .footer__two .directory {
  display: flex;
  flex-direction: column;
}
footer .footer__two .directory h3 {
  margin: 20px 0 8px 0;
  font-size: 1em;
  color: black;
  line-height: 2em;
}
footer .footer__two .directory a {
  font-size: 0.84rem;
  color: #424245;
  line-height: 1.5rem;
}
footer .footer__two .directory__one {
  grid-area: directory__one;
}
footer .footer__two .directory__two {
  grid-area: directory__two;
}
footer .footer__two .directory__tree {
  grid-area: directory__tree;
}
footer .footer__two .directory__four {
  grid-area: directory__four;
}
footer .footer__two .directory__five {
  grid-area: directory__five;
}
footer .footer__two .directory .expand {
  display: none;
}
@media (max-width: 832px) {
  footer .footer__two {
    display: flex;
    flex-direction: column;
  }
  footer .footer__two .directory {
    display: flex;
    flex-direction: column;
  }
  footer .footer__two .directory .expand {
    display: block;
  }
  footer .footer__two .directory h3 {
    border-bottom: 1px solid #d2d2d7;
    margin: 0;
    padding: 10px 0 10px 0;
  }
  footer .footer__two a {
    display: none;
  }
}
footer .footer__tree {
  grid-area: footer__tree;
  display: flex;
  flex-direction: column;
  padding: 34px 0 21px 0;
}
footer .footer__tree .footer-info {
  margin-bottom: 8px;
  color: #6e6e73;
}
footer .footer__tree .footer-info__legal {
  display: flex;
  justify-content: space-between;
}
footer .footer__tree .footer-info__link {
  color: #424245;
}
footer .footer__tree .footer-info__link a {
  border-right: 1px solid #86868b;
  padding: 0 10px 0 10px;
}
footer .footer__tree .footer-info__link a:visited {
  color: #424245;
}
footer .footer__tree .footer-info__link a:first-child {
  padding: 0 10px 0 0;
}
footer .footer__tree .footer-info__link a:last-child {
  padding: 0 0 0 10px;
  border-style: none;
}
footer .footer__one, footer .footer .footer-info__shop {
  border-bottom: 1px solid #d2d2d7;
}

.info h2, .info h3, .info h4, .info h5 {
  margin: 0;
  letter-spacing: -0.005rem;
}
.info__headline, .info__subhead, .info__links {
  display: flex;
  justify-content: center;
}
.info__headline {
  margin-top: 50px;
}
.info__links {
  line-height: 3rem;
}
.info__links a, .info__links span {
  color: #2997FF;
  font-size: 18px;
  font-weight: 600;
}
.info__links span {
  margin: 0 5px 0 5px;
  font-family: "Poppins Regular", sans-serif;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.hero {
  width: 100%;
  height: 694px;
  padding-top: 40px;
}
.hero__one {
  background: url("../public/img/hero_iphone14pro__e5xbgo5ffhg2_largetall.png") no-repeat center #000;
}
.hero__two {
  background: url("../public/img/hero_iphone14__fjmsqstr1ceq_largetall.png") no-repeat center;
}
.hero__tree {
  background: url("../public/img/hero_apple_watch_series_8__bjc1ok5mkjua_largetall.png") no-repeat center #000;
}
.hero__tree .info__headline {
  display: block;
}
.hero__tree h2 {
  height: 60px;
  background: url("../public/img/hero_logo_apple_watch_series_8__ezarmmoobhg2_largetall.png") no-repeat center;
  background-size: 150px;
}
.hero--black {
  color: #F5F5F7;
}
.hero--white {
  color: #000;
}
.hero__one, .hero__two, .hero__tree, .hero__tree h2 {
  margin-bottom: 10px;
}

.home-section__promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "one two" "tree four" "five six";
  padding: 0 10px 0 10px;
}

.promo {
  width: 100%;
  height: 500px;
}
.promo--black {
  color: #F5F5F7;
}
.promo--white {
  color: #000;
}
.promo__one {
  grid-area: one;
  background: url("../public/img/promo_mbp_preorder__faqgyfz56umq_large.jpg") no-repeat center;
}
.promo__two {
  grid-area: two;
  background: url("../public/img/promo_homepod_announce__bhviq9vjnlf6_large.jpg") no-repeat center;
}
.promo__tree {
  grid-area: tree;
  background: url("../public/img/promo_bhm__d8b9z5rlwjgy_large.jpg") no-repeat center;
}
.promo__four {
  grid-area: four;
  background: url("../public/img/promo_valentines_day_2023__duffhlmdxcqe_large.jpg") no-repeat center;
}
.promo__five {
  grid-area: five;
  background: url("../public/img/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg") no-repeat center;
}
.promo__five .info__headline {
  display: block;
}
.promo__five h4 {
  height: 30px;
  background: url("../public/img/promo_logo_fitness_plus_iphone__dpayetemakq6_large.png") no-repeat center;
  background-size: 150px;
}
.promo__six {
  grid-area: six;
  background: url("../public/img/promo_airpods_pro_avail__gaxggskofx6y_large.jpg") no-repeat center;
}

.home-section__hero, .home-section__promo {
  margin-bottom: 10px;
}

@media (max-width: 735px) {
  .hero {
    height: 500px;
  }
  .hero__one {
    background: url("../public/img/hero_iphone14pro__e5xbgo5ffhg2_small.jpg") no-repeat center;
  }
  .hero__two {
    background: url("../public/img/hero_iphone14__fjmsqstr1ceq_small.jpg") no-repeat center;
  }
  .hero__tree {
    background: url("../public/img/hero_apple_watch_series_8__bjc1ok5mkjua_small.jpg") no-repeat center;
  }
  .home-section__promo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "one" "two" "tree" "four" "five" "six";
    color: #a89276;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */