header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav__header {
    /* centered content */
    margin: auto;
    max-width: 950px;
    height: 44px;
    max-height: 44px;
}

nav > .nav-centered {
    display: flex;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    max-height: 44px;
    opacity: .8;
    color: #f5f5f7;
    word-spacing: .1rem;
    cursor: pointer;

    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-delay: 0s;
    transition-property: opacity;
    
    &__logo img { margin-top: 1px; }

    &:hover { opacity: 1; }
}



@media (max-width: 832px) { 
    nav > .nav-centered { display: none; }
}