
<nav> 
  <div class="container">
    <div class="nav__item"><a href=""><img src="img/apple-nav-logo.svg" alt="apple-logo"/></a></div>
    <div class="nav__item">Store</div>
    <div class="nav__item">Mac</div>
    <div class="nav__item">iPad</div>
    <div class="nav__item">iPhone</div>
    <div class="nav__item">Watch</div>
    <div class="nav__item">AirPods</div>
    <div class="nav__item">TV & Maison</div>
    <div class="nav__item">Exclusivités Apple</div>
    <div class="nav__item">Accessoires</div>
    <div class="nav__item">Assistance</div>
    <div class="nav__item">Store</div>
  </div>
</nav>