
<nav> 
  <div class="nav-centered">
    <div class="nav-item nav-item__logo"><img src="img/apple-nav-logo.svg" alt="apple-logo"/></div>
    <div class="nav-item">Store</div>
    <div class="nav-item">Mac</div>
    <div class="nav-item">iPad</div>
    <div class="nav-item">iPhone</div>
    <div class="nav-item">Watch</div>
    <div class="nav-item">AirPods</div>
    <div class="nav-item">TV & Maison</div>
    <div class="nav-item">Exclusivités Apple</div>
    <div class="nav-item">Accessoires</div>
    <div class="nav-item">Assistance</div>
    <div class="nav-item"><i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="nav-item"><i class="fa-solid fa-bag-shopping"></i></div>
  </div>
</nav>