body { margin: 0; font-size: 1rem; }

h2, h4 { font-family: $font-title; }
body, h3, h5 { font-family: $font-main; }
a, a:hover span { text-decoration: none; }
a:hover { text-decoration: underline; }
a:hover span{ text-decoration: none; }
span:hover { text-decoration: none;}

h2 { font-size: 3rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.3rem; }