body { margin: 0; font-size: 1em; }

h2, h4 { font-family: $font-title; }
body, h3, h5 { font-family: $font-main; }
a { text-decoration: none; }

h2 { font-size: 3em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }