@font-face {
    font-family: 'Lato Light';
    src: url("../../public/fonts/Lato/Lato-Light.ttf") format("truetype");
 }

 @font-face {
    font-family: 'Roboto Regular';
    src: url("../../public/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
 }

 @font-face {
   font-family: 'Poppins Regular';
   src: url("../../public/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
 
 $font-main: 'Lato Light', sans-serif;
 $font-title: Arial, Helvetica, sans-serif;
 $font-misc: 'Poppins Regular', sans-serif;