mixin links-info-buy
   div.info.info__links
            div.links
               div
                  a(href="http://" target="_self") En savoir plus 
                  span  >
               div
                  a(href="http://" target="_self") Acheter 
                  span  > 

main 
   section.home-section.home-section__hero
      div.hero.hero__one.hero--black
         div.info.info__headline
            h2 iPhone 14 Pro
         div.info.info__subhead
            h3 Pro. Plus ultra.
         +links-info-buy

      div.hero.hero__two.hero--white
         div.info.info__headline
            h2 iPhone 14
         div.info.info__subhead
            h3 Un grand. Avec un grand Plus.
         +links-info-buy
         
      div.hero.hero__tree.hero--black
         div.info.info__headline
            h2
         div.info.info__subhead
            h3 Plus en forme que jamais.
         +links-info-buy


   section.home-section.home-section__promo
      div.promo.promo_one
         div.info.info__headline
            h4 MacBook Pro
         div.info.info__subhead
            h5 Boosté par les puces M2 Pro et M2 Max.
         +links-info-buy

      div.promo.promo_two
         div.info.info__headline
            h4 HomePod
         div.info.info__subhead
            h5 Virtuose du son.
         +links-info-buy

      div.promo.promo_tree
         div.info.info__headline
            h4 Créativité et communauté. Profondément liées.
         div.info.info__subhead
            h5 Découvrez le nouveau bracelet Black unity et son cadran assorti.
         +links-info-buy

      div.promo.promo_four
         div.info.info__headline
            h4 Saint-Valentin
         div.info.info__subhead
            h5 Avec tout votre amour
         +links-info-buy

      div.promo.promo_five
         div.info.info__headline
            h4 iPhone 14 Pro
         div.info.info__subhead
            h5 Pro. Plus ultra.
         +links-info-buy

      div.promo.promo_six
         div.info.info__headline
            h4 iPhone 14 Pro
         div.info.info__subhead
            h5 Pro. Plus ultra.
         +links-info-buy


   section.home-section.home-section__gallery