- var hero_one="img/hero_iphone14pro__e5xbgo5ffhg2_largetall.png"
- var hero_one_alt="iphone 14 pro"
- var hero_one_h2="Iphone 14 Pro"
- var hero_one_h3="Pro. Plus ultra."

mixin links-info(first_param,second_param)
   div.info.info__links
      div.links
         if first_param=="knowledge"
            div
               a(href="http://" target="_self") En savoir plus 
               span  >
         if second_param=="buy"
            div
               a(href="http://" target="_self") Acheter 
               span  >
         if second_param=="try"
            div
               a(href="http://" target="_self") Essai gratuit
               span  >
         if second_param=="command"
            div
               a(href="http://" target="_self") Commander 
               span  >

main 
   section.home-section.home-section__hero
      div.hero.hero__one.hero--black
         div.info.info__headline
            h2 hero_one_h2
         div.info.info__subhead
            h3 hero_one_h3
         +links-info("knowledge","buy")
      div.hero.hero__two.hero--white
         div.info.info__headline
            h2 iPhone 14
         div.info.info__subhead
            h3 Un grand. Avec un grand Plus.
         +links-info("knowledge","sell")
      div.hero.hero__tree.hero--black
         div.info.info__headline
            h2
         div.info.info__subhead
            h3 Plus en forme que jamais.
         +links-info("knowledge","buy")


   section.home-section.home-section__promo

      div.promo.promo__one.promo--black
         div.info.info__headline
            h4 MacBook Pro
         div.info.info__subhead
            h5 Boosté par les puces M2 Pro et M2 Max.
         +links-info("knowledge","buy")

      div.promo.promo__two.promo--black
         div.info.info__headline
            h4 HomePod
         div.info.info__subhead
            h5 Virtuose du son.
         +links-info("knowledge","command")

      div.promo.promo__tree.promo--black
         div.info.info__headline
            h4 Créativité et communauté. Profondément liées.
         div.info.info__subhead
            h5 Découvrez le nouveau bracelet Black unity et son cadran assorti.
         +links-info("","buy")

      div.promo.promo__four.promo--white
         div.info.info__headline
            h4 Saint-Valentin
         div.info.info__subhead
            h5 Avec tout votre amour
         +links-info("","buy")

      div.promo.promo__five.promo--white
         div.info.info__headline
            h4
         div.info.info__subhead
            h5 Pro. Plus ultra.
         +links-info("knowledge","try")

      div.promo.promo__six.promo--black
         div.info.info__headline
            h4 iPhone 14 Pro
         div.info.info__subhead
            h5 Pro. Plus ultra.
         +links-info("knowledge","buy")


   section.home-section.home-section__gallery

      div.gallery.gallery__carousel
         div#carousel__slide-one.carousel__slide.carousel__slide(tabindex=0)
            div.carousel.carousel__snapper
               a(href="#carousel__slide-one").carousel.carousel__prev   Go to last slide 
               a(href="#carousel__slide-two").carousel.carousel__next   Go to next slide 
         div#carousel__slide-two.carousel__slide(tabindex=0)
            div.carousel.carousel__snapper
               a(href="#carousel__slide-one").carousel.carousel__prev   Go to last slide 
               a(href="#carousel__slide-tree").carousel.carousel__next   Go to next slide 
         div#carousel__slide-tree.carousel__slide(tabindex=0)
            div.carousel.carousel__snapper
               a(href="#carousel__slide-two").carousel.carousel__prev   Go to last slide 
               a(href="#carousel__slide-four").carousel.carousel__next   Go to next slide 
         div#carousel__slide-four.carousel__slide(tabindex=0)
            div.carousel.carousel__snapper
               a(href="#carousel__slide-tree").carousel.carousel__prev   Go to last slide 
               a(href="#carousel__slide-one").carousel.carousel__next   Go to next slide
      
      aside.gallery.gallery__navigation
         div.carousel.carousel__navigation-list
            div.carousel.carousel__navigation-item
               a(href="#carousel__slide-one").carousel.carousel__navigation-button  Go to slide 1
            div.carousel.carousel__navigation-item
               a(href="#carousel__slide-two").carousel.carousel__navigation-button  Go to slide 2
            div.carousel.carousel__navigation-item
               a(href="#carousel__slide-tree").carousel.carousel__navigation-button  Go to slide 3
            div.carousel.carousel__navigation-item
               a(href="#carousel__slide-four").carousel.carousel__navigation-button  Go to slide 4