.info {
    & h2,h3,h4,h5 { margin: 0;letter-spacing: -.005rem;}
    &__headline, &__subhead, &__links { display: flex; justify-content: center; }
    &__headline { margin-top: 50px; }
    &__links {

        line-height: 3rem;

        & a, span { color: $link; font-size: 18px; font-weight: 600; }
        & span { margin: 0 5px 0 5px; font-family: $font-misc; }
    }
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.hero {
    width: 100%;
    height: 694px;

    padding-top: 40px;

    &__one { 
        background: url("../public/img/hero_iphone14pro__e5xbgo5ffhg2_largetall.png") no-repeat center $black; 
    }
    &__two { background: url("../public/img/hero_iphone14__fjmsqstr1ceq_largetall.png") no-repeat center; }
    &__tree {
        background: url("../public/img/hero_apple_watch_series_8__bjc1ok5mkjua_largetall.png") no-repeat center $black;

        & .info__headline { display: block; }
        & h2 {
            height: 60px;
            background: url("../public/img/hero_logo_apple_watch_series_8__ezarmmoobhg2_largetall.png") no-repeat center;
            background-size: 150px;
        }
    }

    &--black { color: $white; }
    &--white { color: $black; }

    &__one, &__two, &__tree, &__tree h2 {
        margin-bottom: 10px;
    }
}

.home-section__promo {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
    "one two"
    "tree four"
    "five six"; 

    padding: 0 10px 0 10px;
}

.promo {
    width: 100%;
    height: 500px;


    &--black { color: $white; }
    &--white { color: $black; }

    &__one { grid-area: one; background: url("../public/img/promo_mbp_preorder__faqgyfz56umq_large.jpg") no-repeat center;}
    &__two { grid-area: two; background: url("../public/img/promo_homepod_announce__bhviq9vjnlf6_large.jpg") no-repeat center; }
    &__tree { grid-area: tree; background: url("../public/img/promo_bhm__d8b9z5rlwjgy_large.jpg") no-repeat center; }
    &__four { grid-area: four; background: url("../public/img/promo_valentines_day_2023__duffhlmdxcqe_large.jpg") no-repeat center; }
    &__five { grid-area: five; background: url("../public/img/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg") no-repeat center;
        & .info__headline { display: block; }
        & h4 {
            height: 30px;
            background: url("../public/img/promo_logo_fitness_plus_iphone__dpayetemakq6_large.png") no-repeat center;
            background-size: 150px;
        }
    }
    &__six { grid-area: six; background: url("../public/img/promo_airpods_pro_avail__gaxggskofx6y_large.jpg") no-repeat center; }
}

.home-section { &__hero, &__promo { margin-bottom: 10px; } }

@media (max-width: 735px) {
    .hero {    
        height: 500px;

        &__one { background: url("../public/img/hero_iphone14pro__e5xbgo5ffhg2_small.jpg") no-repeat center; }
        &__two { background: url("../public/img/hero_iphone14__fjmsqstr1ceq_small.jpg") no-repeat center; }
        &__tree { background: url("../public/img/hero_apple_watch_series_8__bjc1ok5mkjua_small.jpg") no-repeat center; }
    }

    .home-section__promo {
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
        "one"
        "two"
        "tree"
        "four"
        "five"
        "six"; 
        color: #a89276;
        padding: 0;
    }
}