nav 
    div.container
        div.nav__item
            a(href="")
                img(src="img/apple-nav-logo.svg", alt="apple-logo") 
        div.nav__item
            | Store
        div.nav__item
            | Mac
        div.nav__item
            | iPad
        div.nav__item
            | iPhone
        div.nav__item
            | Watch
        div.nav__item
            | AirPods
        div.nav__item
            | TV & Maison
        div.nav__item
            | Exclusivités Apple
        div.nav__item
            | Accessoires
        div.nav__item
            | Assistance
        div.nav__item
            | Store