footer
    nav.container
        section.footer.footer__one
            p Apple Fitness+ nécessite un iPhone 8 (ou modèle ultérieur) ou une Apple Watch Series 3 (ou modèle ultérieur) jumelée à un iPhone 6s (ou modèle ultérieur). Nouvelles personnes abonnées uniquement. 9,99 €/mois après l’essai gratuit. L’abonnement est automatiquement reconduit s’il n’est pas résilié. Soumis à conditions.
            p Un abonnement est requis pour Apple Fitness+.
            p Apple Fitness+ nécessite un iPhone 8 (ou modèle ultérieur) avec iOS 16.1.
            p Apple Fitness+ nécessite une Apple Watch Series 3 (ou modèle ultérieur) jumelée à un iPhone 6s (ou modèle ultérieur) avec iOS 14.3 (ou version ultérieure).
            p L’app Forme sur Apple TV nécessite tvOS 14.3 (ou version ultérieure).
            p L’app Forme sur iPad nécessite iPadOS 14.3 (ou version ultérieure).
            p Pour profiter des toutes dernières fonctionnalités, vérifiez que la version logicielle la plus récente est installée sur vos appareils.
            p Les séances d’exercice et de méditation Apple Fitness+ sont en anglais. Des sous-titres sont disponibles en français, espagnol, allemand, italien, russe et portugais du Brésil.
        section.footer.footer__two
            div.directory.directory-one
                h3 S'informer et acheter
                a(href="") Store
                a(href="") iPad
                a(href="") iPhone
                a(href="") Watch
                a(href="") AirPods
                a(href="") TV & Maison
                a(href="") AirTag
                a(href="") Accessoires
                a(href="") Cartes Cadeaux
            div.directory.directory-two
                h3 Services
                a(href="") Apple Music
                a(href="") Apple TV+
                a(href="") Apple Fitness+
                a(href="") Arcade
                a(href="") iCloud
                a(href="") Apple One
                a(href="") Apple Pay
                a(href="") Apple Books
                a(href="") Podcasts
                a(href="") App Store
                h3 Compte
                a(href="") Gérer votre identifiant Apple
                a(href="") Compte Apple Store
                a(href="") iCloud.com
            div.directory.directory-tree
                h3 Apple Store
                a(href="") Trouver
                a(href="") Genius Bar
                a(href="") Today at Apple
                a(href="") Stage d'été Apple
                a(href="") App Apple Store
                a(href="") Produits reconditionnés et soldés
                a(href="") Apple Trade In
                a(href="") État de votre commande
                a(href="") Aide à l'achat
            div.directory.directory-four
                h3 Pour les entreprises
                a(href="") Apple et les entreprises
                a(href="") Acheter pour votre entreprise
                h3 Pour l'éducation
                a(href="") Apple et l'éducation
                a(href="") Acheter pour l'université
                h3 Pour la santé
                a(href="") Apple dans le secteur de la santé
                a(href="") La santé sur Apple Watch
            div.directory.directory-five
                h3 Valeurs d'Apple
                a(href="") Accessibilité
                a(href="") Éducation
                a(href="") Environnement
                a(href="") Confidentialité
                a(href="") Responsabilité des fournisseurs
                h3 À propos d'Apple
                a(href="") Newsroom
                a(href="") Direction d'Apple
                a(href="") Travailler chez Apple
                a(href="") Garantie
                a(href="") Investisseurs
                a(href="") Éthique et conformité
                a(href="") Évènements
                a(href="") Création d'emplois en Europe
                a(href="") Contacter Apple
        section.footer.footer__tree