header
    nav 
        div.nav-centered
            div.nav-item.nav-item__logo
                img(src="img/apple-nav-logo.svg", alt="apple-logo") 
            div.nav-item
                | Store
            div.nav-item
                | Mac
            div.nav-item
                | iPad
            div.nav-item
                | iPhone
            div.nav-item
                | Watch
            div.nav-item
                | AirPods
            div.nav-item
                | TV & Maison
            div.nav-item
                | Exclusivités Apple
            div.nav-item
                | Accessoires
            div.nav-item
                | Assistance
            div.nav-item
                i(class="fa-solid fa-magnifying-glass")
            div.nav-item
                i(class="fa-solid fa-bag-shopping")